.git
.idea
.vscode
.DS_Store

.env
.env.*
!.env.example

**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/

**/node_modules/
**/.next/
**/dist/
**/coverage/

bin/
tmp/
*.out
*.test
coverage.*
*.coverprofile
profile.cov
